button {
    margin-top: 20px;
    width: 60%;
    padding: 10px;
    background-color: #3880ff;
    color: #fff;
    border-radius: 5px;
    margin-left: 20%;
  }

.item ion-label {
  white-space: normal;
}
