<ion-header [translucent]="true">
  <ion-toolbar>
    <div id="logoContainer">
      <img src="../../assets/logo.png" alt="Logo">
    </div>
    <ion-title>
      No pain, no gain!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-button id="quickstart" [routerLink]="['/tracking']">Workout starten</ion-button>

<ion-footer>
  <ion-toolbar>
    <ion-button [routerLink]="['/history']">Verlauf</ion-button>
    <ion-button [routerLink]="['/plan']">Trainingsplan</ion-button>
    <ion-button [routerLink]="['/training']">Übungen</ion-button>
  </ion-toolbar>
</ion-footer>
