table {
  width: 100%;
  border-collapse: collapse;
  thead tr th {
    text-align: center;
    padding: 10px;
  }
  tbody tr td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  tbody tr:nth-child(even) {
    background-color: #53868B;
  }

}

@media only screen and (max-width: 600px) {
  thead {
    display: none;
  }
  tbody tr td:first-child {
    background-color: #53868B;
    font-weight: bold;
    text-align: center;
  }
  tbody tr td {
    display: block;
    text-align: center;
  }
  tbody tr td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}

#finish {
  width: 100%;
  height: 50px;
  margin: 50px auto;
  background-color: #009acd;
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
ion-input {
  text-align: center;
}
ion-select, ion-range, ion-input {

}
