<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Training
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngFor="let p of plan">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{p.name}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <table>
      <thead>
      <tr>
        <th>Übung</th>
        <th>Vorherige</th>
        <th>Gewicht</th>
        <th>Wiederholungen</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <ion-select placeholder="Wähle eine Übung aus" [(ngModel)]="p.selectedExercise" [value]="p.name">
            <ion-select-option [value]="p.name">
              {{ p.name }}
            </ion-select-option>
          </ion-select>
        </td>
        <td>
          <ion-label>Max. Gewicht: {{p.max}}</ion-label>
        </td>
        <td>
          <ion-label>{{p.weightValue}}kg</ion-label>
          <ion-item class="item">
            <ion-range min="2.5" max="250" step="2.5" [(ngModel)]="p.weightValue" pin="true">
              <ion-icon size="small" slot="start" name="remove" (click)="p.decrementValue()"></ion-icon>
              <ion-icon slot="end" name="add" (click)="p.incrementValue()"></ion-icon>
            </ion-range>
          </ion-item>
        </td>
        <td>
          <ion-label >Wiederholungen</ion-label>
          <ion-item class="item">
            <ion-input type="number" [(ngModel)]="p.repsValue"></ion-input>
          </ion-item>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>
  <button id="finish" (click)="onSave(plan)">Training beenden</button>
</ion-content>
