.dropdown-container {
      position: relative;
    }

    .dropdown-header {
      cursor: pointer;
    }

    .arrow {
      float: right;
      margin-top: 5px;
    }

    .down::before {
      content: "▼";
    }

    .up::before {
      content: "▲";
    }
