<ion-header [translucent]="true">
  <ion-toolbar>
    <div id="logoContainer">
      <img src="../../assets/logo.png" alt="Logo">
    </div>
    <ion-title>
      No pain, no gain!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button [routerLink]="['/uebungen']">Übungen</ion-button>
    <ion-button [routerLink]="['/tracking']">Workout starten</ion-button>
  </div>
</ion-content>
