<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Trainingsverlauf
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <table>
      <thead>
      <tr>
        <th>Übung</th>
        <th>Gewicht (kg)</th>
        <th>Wiederholungen</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let workout of workouts">
        <td>{{ workout.workout }}</td>
        <td>{{ workout.weights }}</td>
        <td>{{ workout.reps }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</ion-content>
